.Home {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    .Header {
        width: 100%;
        height: auto;
        aspect-ratio: 1920/600;
        background-color: var(--green);
        overflow: hidden;
        position: relative;
        @media (max-width: 800px) {
            aspect-ratio: 1/1;
        }
        .Background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            background-image: url("/BG-Image.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-clip: border-box;
            // background-attachment: fixed;
            z-index: 1;
        }
        .Container {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.75);
            z-index: 5;
            position: relative;
            top: 0;
            left: 0;
            padding: 2rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 2rem;
            .Text {
                h1 {
                    font-size: 1.75rem;
                    margin-bottom: 0.5rem;
                    max-width: 650px;
                    color: #fcfcfc;
                }
                p {
                    font-size: 1em;
                    color: rgba(#fff, 0.75);
                    max-width: 650px;
                }
            }
            .Button {
                color: #fff;
                font-family: inherit;
                background-color: var(--blue);
                font-weight: 700;
            }
        }
    }
    .SecondSection {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 3rem;
        .MainStats {
            min-height: 100px;
            height: auto;
            width: 100%;
            background-color: var(--color-bg-primary);
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            .Column {
                height: auto;
                padding: 50px 0;
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                >* {
                    text-align: center;
                }
                .Icon {
                    font-size: 3.75rem;
                    margin-bottom: 0.5rem;
                    color: var(--color-text-secondary);
                    opacity: 0.75;
                }
                .Number {
                    font-size: 2rem;
                    font-weight: 900;
                    color: var(--green);
                    margin-bottom: 1rem;
                }
                .Title {
                    font-size: 1rem;
                    color: var(--color-text-secondary);
                    font-weight: 700;
                    opacity: 0.75;
                }
            }
        }
        .Cards {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: auto;
            flex-wrap: wrap;
            .Card {
                min-height: 100px;
                // height: 100%;
                border: none;
                background-color: var(--color-card-primary);
                color: var(--color-text-primary);
                padding: 2rem;
                transition: all 0.2s ease;
                flex: 1;
                align-self: stretch;
                h1 {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    opacity: 0.75;
                    // color: var(--green);
                }
                p {
                    font-size: 1rem;
                    opacity: 0.5;
                }
                &:not(:nth-child(2n+1)) {
                    background-color: var(--color-card-secondary);
                }
                &:hover {
                    // opacity: 0.75;
                    cursor: pointer;
                    background-color: var(--green);
                    color: #fff;
                    user-select: none;
                    h1 {
                        opacity: 1;
                        color: #fff;
                    }
                    p {
                        opacity: 1;
                    }
                }
                @media (max-width: 800px) {
                    min-width: 100%;
                }
            }
        }
    }
    .section-formations {
        width: 100%;
        height: auto;
        position: relative;
        margin: 3rem 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        h1 {
            font-size: 1.75rem;
        }
        .FormationCards {
            width: 100%;
            height: auto;
            // background-color: var(--blue);
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 0 50px;
            gap: 2rem;
            .FormationCard {
                position: relative;
                height: 400px;
                width: 100%;
                min-width: 250px;
                max-width: 350px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                background-color: var(--blue);
                margin-top: 2rem;
                border-radius: 0rem;
                color: #fff;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                user-select: none;
                padding: 2rem;
                overflow: hidden;
                .overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    backdrop-filter: blur(0rem) brightness(30%);
                    z-index: 0;
                }
                .topSide {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    text-align: left;
                    gap: 1rem;
                    z-index: 1;
                    h1 {
                        font-size: 1.5rem;
                        font-weight: 700;
                    }
                    p {
                        font-size: 0.85rem;
                        font-weight: 100;
                    }
                }
                .bottomSide {
                    z-index: 1;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    font-weight: 100;
                    letter-spacing: 2px;
                }
                .ActionArea {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    // color: var(--blue);
                    color: #fff;
                }
            }
        }
    }
}